<div class="container">
   <div class="card offset-md-3">
      <h3>Reset Password</h3>
      <form class="example-form">
         <mat-form-field class="example-full-width">
            <input type="password" matInput placeholder="Enter New Password" [(ngModel)]="username" name="username"
               (keyup)="keyPress()">
         </mat-form-field>
         <mat-form-field class="example-full-width">
            <input type='password' matInput placeholder='Re-Enter Password' name='password' [(ngModel)]='password'
               (keyup)='keyPress()'>
         </mat-form-field>
         <span *ngIf='validation' class='error-message'>Please enter a valid Username / Password</span>
         <div class='text-right'>
            <button mat-raised-button color='primary' (click)='login()' [disabled]='!username || !password'>Reset Password</button>
         </div>
      </form>
   </div>

</div>