<!-- ngbootstarp Dropdown -->
<!-- <div ngbDropdown >
    <input  class="form-control" type="text" [(ngModel)]="binding" [placeholder]="data.placeHolder" ngbDropdownToggle placement="bottom">
    <div class="dropdownGroup border" ngbDropdownMenu >
    <li *ngFor="let options of data.filters" (click)="selectOption(options)" ngbDropdownItem>{{options}}</li>
    </div>
</div> -->


<!-- material based dropdown -->
<div ngbDropdown *ngIf="data.text != 'Kategorie' && data.text != 'KPI Sets'">
    <input  class="form-control" type="text" [(ngModel)]="bind" [placeholder]="data.placeHolder" ngbDropdownToggle placement="bottom">
    <div class="dropdownGroup border" ngbDropdownMenu >
    <li *ngFor="let options of data.filters" (click)="selectOption(options)" ngbDropdownItem>{{options}}</li>
    </div>
</div>


<div ngbDropdown *ngIf="data.text == 'Kategorie' || data.text == 'KPI Sets'" >
    <input  class="form-control" type="text" [(ngModel)]="bind" [placeholder]="data.placeHolder" ngbDropdownToggle placement="bottom">
    <div class="dropdownGroup border" ngbDropdownMenu >
    <li *ngFor="let options of data.filters" (click)="selectOption(options)" ngbDropdownItem>{{options.bezeichnung}}</li>
    </div>
</div>