<div class="container">
    <div class="card offset-md-3">
      <h3>Account Login</h3>
      <form class="example-form">
         <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter Username" [(ngModel)]="username" name="username" (keyup)="keyPress()">
         </mat-form-field>

         <mat-form-field class="example-full-width">
            <input type="password" matInput placeholder="Enter Password" name="password" [(ngModel)]="password"
               (keyup)="keyPress()">
         </mat-form-field>
         <span *ngIf="validation" class="error-message">Please enter a valid Username / Password</span>
         <div class="text-right">
            <button mat-raised-button color="primary" (click)="login()"
               [disabled]="!username || !password">Login</button>
         </div>

      </form>
   </div>

</div>