<!-- Bootstrap Based Date Time Picker -->

<!-- <div class="input-group">
    <input class="form-control" placeholder="yyyy-mm-dd"
           name="dp" (dateSelect)="method($event)" ngbDatepicker #d="ngbDatepicker" placement="bottom-right bottom">
    <div class="input-group-append border p-2" (click)="d.toggle()">
      <button class="btn calendar"></button>
    </div>
  </div> -->


  <!-- Material Based Date Time Picker -->
<mat-form-field  id="datePicker">
  <input matInput [matDatepicker]="picker" placeholder="Select Date" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>