.filterHeaders {background-color: lightgray;font-weight: bold;}
#filterOptions {max-height: 600px;height: 600px;overflow-y: auto;padding: 10px;}
#filterOptions li{ padding: 5px; border: 0; cursor: pointer;}
#filterOptions ul.list-group.text-left {max-height: 20%;overflow-y: auto; min-height: 19%;height:112px;}
mat-card{padding: 5px;}
.selectedRegion{ background-color: #ff901d6b;}
#filterOptions span{font-weight: 700;}
#filterButton div {width: 45%; margin: 5px;} 
#filterButton { padding: 8px;}
.closeButton{ text-align: right;padding: 8px;font-size: 26px;}