#filterButton {
  background-color: #EF8E29;
  padding: 10px;
}

.filterHeaders {
  background-color: lightgray;
  font-weight: bold;
}

.filterBody {
  background-color: #F1F1F1;
}

#filterOptions {
  max-height: 600px;
  height: 600px;
  overflow-y: auto;
  padding: 10px;
}

#filterOptions li{ padding: 5px; border: 0; cursor: pointer;}

#filterOptions ul.list-group.text-left {max-height: 155px ;overflow-y: auto;}
/* .dropdownGroup{
    max-height: 150px; overflow-y: auto;
    -ms-overflow-style: none;
    width: 100%;
}
.dropdownGroup::-webkit-scrollbar{
    display: none;
} */
  /* @media screen and (max-width: 1599px) {
    input {
      width: 130px;
    }
  } */

  mat-card{
    padding: 5px;
  }


 