<div class="closeButton" (click)=closeModal()><i class="fas fa-times"></i></div>
<div class="centerPosition">
    <div id="filterButton" class="border border-secondary col-lg-12 col-md-12 text-center">
        <div class="btn btn-secondary btn-md" (click)="filterData()">
            Filter
        </div>

        <div class="btn btn-secondary btn-md" (click)="resetFilterData()">
            Loschen
        </div>
    </div>
    <hr style="color: black;">
    <div id="filterOptions">
        <div *ngFor="let item of filterOptions" class="mb-3">
            <span>{{item.text}}</span>
            <div class="text-center p-3 filterBody" [ngSwitch]="item.type">
                <div *ngSwitchCase="'date'">
                    <app-datepicker (selectedDate)="method($event)"></app-datepicker>
                </div>
                <input type="text" name="item.text" [placeholder]="item.placeHolder" *ngSwitchCase="'text'">
                <app-dropdown-search [data]="item" *ngSwitchCase="'drop'"
                    (selectedOption)="optionSelected($event, item.text)" [bind]='item.bind'>
                </app-dropdown-search>
                <input *ngSwitchCase="'selection'" [(ngModel)]="depotBind" type="search" placeholder="Test"
                    class="form-control">
                <ul *ngSwitchCase="'selection'" class="list-group text-left form-control">
                    <li *ngFor="let list of newArray | filter:depotBind;" class="list-group-item"
                        (click)="optionSelected(list, item.text)"
                        [ngClass]="selectedArray[list.depotnr] ? 'selectedRegion' : ''">
                        {{list.bezeichnung}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>