<mat-card>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <h5>Dashboard</h5>
        </div>
    </div>

    <div>
        <table id="treegrid">
            <thead>
              <tr>
                <th>Name</th>
                <th>January</th>
                <th>February</th>
                <th>March</th>
                <th>April</th>
                <th>May</th>
                <th>June</th>
                <th>July</th>
                <th>August</th>
                <th>September</th>
                <th>October</th>
                <th>November</th>
                <th>December</th>
                <th>Q1</th>
                <th>Q2</th>
                <th>Q3</th>
                <th>Q4</th>
                <th>Best</th>
                <th>Ziel</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>        
              </tr>
            </tbody>
          </table>
    </div>
   

</mat-card>


