/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%;}
html, body { height: 100%; }
body { margin: 0; font-family: "Roboto", "Arial","Helvetia cNeue", sans-serif; }
/* #datePicker .mat-form-field-infix{width: 220px;} */
/* #datePicker .mat-form-field-flex{ width: 220px;} */
#filterCards .mat-card-header-text{ margin: 0;}
#datePicker .mat-datepicker-toggle button { font-size: 22px;}
div#mat-tab-label-0-2 {color: black;}
#disabledHorizontalScroll .mat-sidenav-content{overflow-y: auto;overflow-x: hidden;}
#mat-tab-content-0-0 .disableHorizontal{overflow-x: hidden;}
#mat-tab-content-0-0 .mat-tab-body-content{
    overflow-x: hidden;
    overflow-y: auto;
}