.container-fluid{margin-top: 50px;}
.lineHeightClass{line-height: 40px;}

.borderClass {
    border: 1px solid black;
}
.borderRight{
    border-right:1px solid black ;
}
.borderBottom{
    border-bottom:1px solid black ;
}
.borderLeft{
    border-left: 1px solid black;
}
.lineHeightClass ul li{cursor: pointer;}
.lineHeightClass ul li a{ padding: 10px;}
.exportdiv{padding: 10px;}
.exportdiv img {width: 30px;}

.homeButtons{ font-size: 14px; color: #ef8e29;font-weight: 500; letter-spacing: 0.5px;}
.container{ margin-right: unset;margin-left: unset;max-width: 100%;}
#time #mat-tab-label-0-2 {
    position: relative;
    left: 73%;
}
#homeButtonGroup, .exportdiv{margin-left: 0;}
#homeButtonGroup div:not(:last-child){border-right: 1px solid;}
.disablePointer{
    cursor: not-allowed;
}
.disableclick{
    pointer-events: none;
    opacity: 0.5;
}
.enablePointer{ cursor: pointer;}
.rightNavBar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -30;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    border: 1px solid #3f51b5;
}
span#setting{
    position: fixed;
    right: 1%;
    transition: 0.5s;
    top: 28%;
    font-size: 26px;
    border: 1px solid #3f51b5;
    padding: 4px;
    border-right-style: none;
    background-color: white;
}
.mat-card-header-text {
    width: 100%;
    text-align: center; 
}