<div>
    <br>
    <div class="container">
        <div class="container">
            <div id="homeButtonGroup" class="row p-2 ">
                <!-- <div class="btn btn-sm  d-inline-block homeButtons mr-2">
                    Home
                </div> -->
                <div class="btn btn-sm d-inline-block homeButtons mr-2">
                    Depot Ksi
                </div>
                <div class="btn btn-sm  d-inline-block homeButtons mr-2">
                    Etc.
                </div>
            </div>

            <div>
            </div>
            <!-- Table Components -->
            <div class="row">
                <!-- Left Table -->
                <div class=" col-lg-12 col-md-12" #epltable>
                    <app-datagrid-table></app-datagrid-table>
                </div>
                <!-- Right Table -->
                <div class="col-lg-3 col-md-3 rightNavBar" id="rightNavBar">
                    <app-filters [mainFilterData]="mainFilterObject"></app-filters>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
    </div>
</div>

<div class="blocks">
    <!-- <div class="row border-dark border-bottom">
        <button  mat-button>Module</button>
        <button  mat-button>Info</button>

  
  </div> -->


    <!-- Tabs Block -->
</div>