.container-fluid{margin-top: 50px;}
.lineHeightClass{line-height: 40px;}

.borderClass {
    border: 1px solid black;
}
.borderRight{
    border-right:1px solid black ;
}
.borderBottom{
    border-bottom:1px solid black ;
}
.borderLeft{
    border-left: 1px solid black;
}
.lineHeightClass ul li{cursor: pointer;}
.lineHeightClass ul li a{ padding: 10px;}
.exportdiv{border-top: 20px solid lightgray; padding: 10px;}
.exportdiv img {width: 30px; cursor: pointer;}

.homeButtons{ font-size: 12px; border: 1px solid;background-color: #EAEAEA;}
#homeButtonGroup{background-color: #93A0A6;}
.container{ margin-right: unset;margin-left: unset;max-width: 100%;}
#time #mat-tab-label-0-2 {
    position: relative;
    left: 73%;
}